/* Web responsive styles for mobile from here */
@media screen and (max-width: 458px) {



    /* Global styles for mobile devices only starts here  */
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    /* Mobile devices (portrait and landscape phones, less than 768px) styles here */

    /* Header styles for mobile devices only starts here  */
    header {
        height: 8dvh;
        background-color: #440044;
    }

    header .head-col-2 {
        display: none;
    }

    header .head-col-1 img {
        width: 50px;
        height: auto;
        margin: auto 0.8rem;
        transition: all 0.3s ease;
    }

    header .head-col-1 h2 {
        font-size: 6vw;
        font-weight: 500;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
    }

    /* for menu bar for mobile devices  */

    .hamburger-menu {
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        /* this is for the transition of the menu bar */
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        margin: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 28px;
        height: 2px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        height: 2.3px;
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        height: 2.3px;

    }

    header .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: -100;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(179deg, rgba(0, 0, 0, 1) 9.2%, rgb(146, 146, 146) 103.9%);
        z-index: 100;
        opacity: 0.9;
        transition: all 0.3s ease;
    }

    /* End of styles for header menu page , header styles */




    /* Hero section styles for mobile devices only starts here  */
    .heroSection {
        background-image: url("/assets/img/backgrounds/mobSize-backgroundHeroSection.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        height: 88vh;
        font-size: 4dvw;
    }

    .heroSection h1 {
        opacity: 0;
        font-size: 13vw;
        margin: auto;
        text-wrap: wrap;
        text-align: left;
        margin: auto 3rem;
        text-shadow: 1px 1px 1px #000000;
    }

    .heroSection p {
        font-size: 6vw;
        margin: 2rem 0 0 0;
        background-color: antiquewhite;
        padding: 0.5rem;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        text-align: right;
        text-shadow: 1px 1px 1px #000000;
    }



    /* Main styles for mobile devices only starts here  */
    main {
        margin: 0;
        padding: 0;
        font-size: 4rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    main .aboutUs-col-1 {
        flex-grow: 1;
        width: 100%;
        /* background-color: #000000; */
    }

    .aboutUs-col-1 .headerContainer h2 {
        font-size: 2.2rem;

    }

    .aboutUs-col-1 .contentContainer p {
        font-size: 1rem;
    }

    .contentContainer span {
        font-size: 0.8rem;

    }

    main .aboutUs-col-2 {
        flex-grow: 1;
        width: 100%;
        /* height: fit-content; */
        padding: 0;
        /* background-color: #000000; */
    }

    .aboutUs-col-2 img {
        width: 100%;
        height: 100%;
    }

    /* end of about us query */

    section[class="licenseSection"] {
        height: 30vh;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 10px;

    }

    .license-col-1 {
        margin: 0;
        width: 100%;
        border: black 1px solid;
        background-color: gray;
        gap: 10px;
        display: flex;
    }

    .license-col-1 h3 {
        font-size: 1.9rem;
    }

    .license-col-1 img {
        display: none;
    }


    .license-col-1 span {
        font-size: 0.9rem;

    }

    section[class="licenseSection"] div[class="license-col-2"] {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 0;
        place-items: center;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 20px;

    }


    .license-col-2 img {
        width: 90%;
        height: 80px;
        margin: 0;
        border-radius: 5px;
        align-self: center;
        align-items: baseline;
        /* padding: 20px; */
        /* font-size: 150%; */
    }

    .license-col-2 .first-img {
        width: 100%;
        height: 96px;
    }

    .license-col-2 .second-img {
        width: 80%;
        height: 70px;
    }

    /* End of styles for license  */

    section[class="cateringSection"] {
        background: url("/assets/img/backgrounds/mobSize-background-cater.jpeg");
        height: 100vh;
        font-size: 1.2rem;
        flex-direction: column;


    }

    section[class="cateringSection"] h2 {
        color: #fff;
        font-size: 3rem;
        text-shadow: rgb(190, 253, 17) 2px 2px 4px;
        text-align: center;
    }


    section[class="cateringSection"] h2::before {
        display: none;
    }

    section[class="cateringSection"] h2::after {
        display: none;
    }


    .mask {
        display: none;
    }

    section[class="cateringSection"] .catering-col-1 {
        display: flex;
        flex-direction: column;
    }

    section[class="cateringSection"] .catering-col-1 div {
        flex-grow: 1;
        width: 50vh;
        height: 60%;
        /* display: none; */
    }

    .catering-col-1-cols {
        background-color: rgba(200, 255, 0, 0.685);
        color: #000000;
        text-shadow: #000000 1px 1px 3px;
    }


    section[class="cateringSection"] .catering-col-1 div:hover p {
        display: none;
    }

    /* end of styles for catering section  */
    /* testimonial sections removal  */
    section[class="testimonialsSection"] {
        display: none;
    }





    /* section 5 styles for location map  */

    section[class="locationMapSection"] {
        font-size: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 1rem 0; */
        flex-direction: column;
        column-gap: 2rem;
    }

    .mapInfoContainer,
    .mapContainer {
        width: 100%;
        height: 50%;
        margin: 0;
    }

    .mapContainer {
        /* background-color: #440044; */
        margin: 2px;
        display: grid;
        place-items: center;

    }

    /* end of styles for map section */

    section[class="newsletterSection"] {
        display: none;
    }



    /* Footer styles for mobile device only starts here */
    footer {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vh;
        background: rgb(0, 0, 0);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

    }

    footer .foot-cols {
        height: auto;
        margin: 0;
        width: 100%;
        padding: 1em auto;
        /* flex-grow: 1; */
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .foot-cols a {
        text-decoration: none;
        color: #fff;
    }

    .foot-cols h2 {
        font-size: 1.2rem;
    }

    .foot-cols h3 {
        font-size: 1.2rem;
    }


    .foot-cols:nth-child(1) {
        font-size: 1rem;
    }

    footer #foot-logo {
        width: 20vw;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 10px #fff;
    }

    .foot-socialMediaLinks-container img {
        /* filter: grayscale(2); */
        margin: auto;
        width: 20px;
        height: auto;

    }

    /* footer copyright styles  */
    .footer-cpr {
        height: 8dvh;
        background-color: rgb(43, 43, 43);
    }

    .footer-cpr h2 {
        font-size: 3.2vw;
        color: #ffffff;
        margin: 0.5rem 0;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(9, 41, 65);
    }

    .footer-cpr span {
        color: #47f19c;
        transition: linear 0.4 ease-in-out;
        transform: scale(1.5);
        text-decoration: overline;
    }


}