/* Web responsive styles for mobile from here */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    /* Mobile devices (portrait and landscape phones, less than 768px) styles here */

    /* Header styles for mobile devices only starts here  */
    header {
        height: 8dvh;
        width: 100%;
        display: flex;
        background-color: #440044;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        /* overflow: hidden; */
    }

    header .head-col-2 {
        display: none;
    }

    header .head-col-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    header .head-col-1 img {
        width: 50px;
        height: auto;
        margin: auto 0.8rem;
        transition: all 0.3s ease;
    }

    header .head-col-1 h2 {
        font-size: 6vw;
        font-weight: 500;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
    }

    /* for menu bar for mobile devices  */



    /* fix thiss dumbasss */
    .hamburger-menu {
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        /* this is for the transition of the menu bar */
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        margin: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 28px;
        height: 2px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        height: 2.3px;
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        height: 2.3px;

    }

    header .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: -100;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(179deg, rgba(0, 0, 0, 1) 9.2%, rgb(146, 146, 146) 103.9%);
        z-index: 100;
        opacity: 0.9;
        transition: all 0.3s ease;
    }

    /* End of styles for header menu page , header styles */




    /* Hero section styles for mobile devices only starts here  */
    .hero-section {
        background-image: url("../assets/img/backgrounds/mobile-size-backgroundForHeroSection.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: 100%;
        /* padding-top: 10vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

    }


    .hero-section h1 {
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
        margin-bottom: 5.5vh;
        text-shadow: 6px 12px 15px #000000;
    }

    .hero-section .hero-col-1 p {
        text-align: right;
        color: #FAB40B;
        margin: auto;
        font-size: inherit;
        text-shadow: #00000061 1px 1px 1px;
        background-color: #060318;
        border-radius: 4.5rem 0 0 4.5rem;
        box-shadow: 10px 10px 20px #ffffff;
        padding: 0.6vh 0.2vw 0.6vh 0.2vw;

    }

    .hero-section .hero-col-2 button {
        padding: 0.7rem 1.5rem;
        margin: auto;
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        box-shadow: #000 4px 3px 4px;

    }


    /* Main styles for mobile devices only starts here  */
    .aboutUsSection {
        width: 100%;
        overflow: hidden;
        height: 100vh;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        flex-direction: column;
        column-gap: 2rem;
    }











    /* section 5 styles for location map  */

    .locationMapSection {
        width: 100%;
        height: 100vh;
        font-size: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        flex-direction: column;
        column-gap: 2rem;
    }

    .locationMapSection .mapInfoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        font-size: small;
    }

    .locationMapSection .mapContainer {
        width: 50%;
        height: 50%;
        padding: 0;
        margin: 0;
        background-color: #440044;
        overflow: hidden;
        flex-basis: auto;
    }

    .mapContainer iframe {
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }


    /* Footer styles for mobile device only starts here */
    footer {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vh;
        background: rgb(0, 0, 0);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

    }

    footer .foot-cols {
        height: auto;
        margin: 0;
        width: 100%;
        padding: 1em auto;
        /* flex-grow: 1; */
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .foot-cols a {
        text-decoration: none;
        color: #fff;
    }

    .foot-cols h2 {
        font-size: 1.2rem;
    }

    .foot-cols h3 {
        font-size: 1.2rem;
    }


    .foot-cols:nth-child(1) {
        font-size: 1rem;
    }

    footer #foot-logo {
        width: 20vw;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 10px #fff;
    }

    .foot-socialMediaLinks-container img {
        /* filter: grayscale(2); */
        margin: auto;
        width: 20px;
        height: auto;

    }

    /* footer copyright styles  */
    .footer-cpr {
        height: 8dvh;
        background-color: rgb(43, 43, 43);
    }

    .footer-cpr h2 {
        font-size: 3.2vw;
        color: #ffffff;
        margin: 0.5rem 0;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(9, 41, 65);
    }

    .footer-cpr span {
        color: #47f19c;
        transition: linear 0.4 ease-in-out;
        transform: scale(1.5);
        text-decoration: overline;
    }


}